$loader_bg_color: #000;
$loader_fg_color: #fff;

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    } 
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animation-name, $duration) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-direction: forwards;
    -moz-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@include keyframes(intro_fade-in){
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@include keyframes(intro_fade-out){
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.intro-fade-disappear {
    opacity: 1;
}

.intro-fade-disappear.intro-fade-disappear-active {
    @include animation(intro_fade-out, 500ms);
}

body > * {
	visibility: hidden;
}
body > #intro_loader {
	visibility: visible;
}

#intro_loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9223372036854775807;
    top: 0;
    left: 0;
    background-color: $loader_bg_color;
    color: $loader_fg_color;
    font-size: 28px;
    text-align: left;
    .intro-message-item {
        .intro-message-item-char {
            opacity: 0.01;
        }
        .intro-message-item-char.intro-message-item-char-active {
            @include animation(intro_fade-in, 250ms);
        }
    }
    .skip {
        position: absolute;
        top: 80vh;
        width: 100%;
        text-align: center;
        height: 1em;
        display: block;
        color: #fff;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
